body{
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  margin:0%
}
.container{
  width: 100%;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* header */
header{
  width: 100%;
  padding: 0px 0px 5px 0px;
  position: fixed;
  background-color: rgb(255, 255, 255);
}
.header_logo{
  width: 140px;
  padding-left: 30px;
  padding-top: 3px;
}
/* down arrow icon_size */
.header_nav{
  width: 600px;
  padding-top: 20px;
}
.header_nav a{
  text-decoration: none;
  color: rgb(23, 43, 77);
  padding: 5px 15px;
  font-size: 16px;
}
.header_nav a:hover{
  color: rgb(0, 101, 255);
}
.header_btn{
  margin-left: 280px;
  width: 280px;
}
.header_btn a{
  text-decoration: none;
  font-size: 1.2rem;
  padding-top: 18px ;
  padding-right: 10px;
  color: rgb(23, 43, 77);;
}
.btn1{
  color: rgb(23, 43, 77);
}
.btn2{
  padding: 18px 10px;
}
.btn2 a{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 101, 255);
  padding: 24px 18px;
}
.btn2 a:hover{
  background-color: rgb(40, 85, 154);
}
/* signup content and image */
.Sign-up{
  padding-top: 10%;
  background-color: rgb(82, 67, 170);
}
.Signup_cnt{
  width: 38%;
  margin: 0px auto;
  padding-left: 0px;
  color: white;
}
.Signup_cnt h1{
  font-size: 48px;
  margin-bottom: 0%;
}
.Signup_cnt p{
  font-size: 1.25rem;
}
.Signup_cnt input{
  width: 300px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 10px;
}
.Signup_cnt button{
  width: 145px;
  height: 45px;
  color: white;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  border-radius: 3px;
  font-size: 16px;
}
.Signup_cnt a{
  color: white;
}
.icon_watch a{
  margin-top: 5px;
}
.Signup_cnt button:hover{
  background-color: rgb(40, 85, 154);
}
.Signup_img{
  width: 40%;
  height: 60%;
  margin: auto; 
}
.Signup_img img{
  width: 100%;
}
/* workspace starts here */
.wkspc{
  background-color: rgb(230, 252, 255);
}
.workspace{
  margin: 5% 10%;
  padding: 5% 0%;
}
.productive{
  width: 52%;
}
.productive small{
  font-size: 16px;
  font-weight: 500;
  font-size: 1rem;
}
.productive h2{
  margin-top: 5px;
  font-size: 2.25rem;
}
.productive p{
  font-size: 20px;
}
.productive a{
  color: #0052CC;
}
.productive_workplace{
  padding-top: 4%;
}
.workspace_cnt{
  width: 30%;
}
.wp_cnt1{
  padding: 3% 3%;
}
.border_style{
  border-left: 7px solid rgb(0, 199, 229);
  box-shadow: 0px 5px 20px #fdfdfd,
  5px 0px 20px #fdfdfd,
  0px -5px 20px #eeeded;
  background-color: white;
  border-radius: 5px;
}
.workspace_img{
  width: 65%;
  padding-left: 5%;
}
.workspace_img img{
  width: 100%;
}
.productive p{
  font-size: 1.25rem;
  font-weight: 400;
}

/* file management */
.workflow{
  padding: 5% 8%;
}
.wk_cnt{
  font-size: 1rem;
  font-weight: 600;
}
.wk_cnt_h2{
  font-size: 33px;
  font-weight: 700;
  margin-top: 10px;
}
.file_content{
  width: 100%;
  /* margin: 0% auto; */
  justify-content: space-between;
}
.file_cnt{
  width: 25%;
  padding: 2% 3%;
  border: 1px solid black;
  border-radius: 10px;
}
.wk_foot{
  margin-top: 50px;
  width: 100%;
}
.wk_foot p{
  width: 64%;
  font-size: 20px;
  color: #091E42;
}
.wk_foot a{
  text-decoration: none;
  color: #091E42;
  margin: 2% 0% 2% 13%;
  padding: 9px 20px;
  border: 1px solid rgb(0, 101, 255);
  border-radius: 5px;
}
.wk_foot a:hover{
  background-color: rgb(165, 200, 204);
}
.wf_icon{
  margin-bottom: 10px;
  padding: 0px 10px 0px;
  margin-left: 85%;
}
.trello_tools{
  background-color: rgb(0, 184, 217);
}
.work{
  padding: 30px 20px;
  color: white;
  text-align: center;
}
.work h2{
  font-size: 2.25rem;
}
.work p{
  font-size: 20px;
}
.work button{
  width: 220px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 16px;
  background-color: white;
}
.work_img{
  width: 75%;
  margin: 0% auto;
  padding: 3%;
  background-color: white;
  border-radius: 10px;
}
.work_images{
  width: 55%;
}
.work_images img{
  width: 100%;
}
.work_content{
  width: 36%;
  margin: 0% auto;
}
.work_content p{
  font-size: 20px;
  line-height: 27px;
}
.work_content a{
  color: rgb(0, 82, 204);
  font-size: 20px;
}
.trello_features{
  padding: 100px 120px;
}
.trello_ftr:first-child{
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
}
.trello_ftr h2{
  font-size: 32px;
  font-weight: 800;
  margin-top: 0px;
}
.trello_para{
  font-size: 20px;
}
.trello_cont{
  width: 25%;
  padding: 15px 15px;
  background-color: rgb(250, 251, 252);
  margin: 10px 50px 10px 0px;
  border-radius: 5px;
}
.trello_cont button{
  width: 180px;
  height: 50px;
  font-size: 16px;
  background-color: white;
  border: 1px solid rgb(0, 82, 204);
  border-radius: 5px;
}
.trello_cont button:hover{
  background-color: rgb(197, 237, 244);
}